# Variables
name_of_var = data_value

In [2]:
# we didn't define a data type for variable x here , and notice x1 is int
x1 = 10
x1

10

In [3]:
# x2 is float 
x2 = 78.3
print(x2)

78.3

In [4]:
# x3 is String
x3 = 'hello'
print(x3)

hello

# Lists
That's Define like :
    name_of_list = [data1 , data2 , data3]

In [8]:
lv = ['Machine Learning' , 3 , True , 200]

In [10]:
print(lv)

['Machine Learning', 3, True, 200]

In [11]:
# access first element in list
print(lv[0])

Machine Learning

In [12]:
# access last element in list
print(lv[-1])

200

In [15]:
# list is mutable that mean we can edit values in list
lv[-1] = 250
print(lv[-1])

250

In [16]:
lv.append('Dr.Mohamed Zidan')

In [17]:
print(lv)

['Machine Learning', 3, True, 250, 'Dr.Mohamed Zidan']

In [18]:
lv.remove(3)

In [20]:
print(lv)

['Machine Learning', True, 250, 'Dr.Mohamed Zidan']

In [22]:
size_of_lv = len(lv)
print(size_of_lv)

4

# Dictionary
That's Define Like that : 


dict = {
    'Key' : value
    'name' : value
}

In [28]:
dic = {
    'course name' : 'ML',
    'credit hours' : 3,
    'prequiest' : 'Linear Algebra',
    'Number of students' : 200
}
print(dic)

{'course name': 'ML', 'credit hours': 3, 'prequiest': 'Linear Algebra', 'Number of students': 200}

In [29]:
print(dic['credit hours'])

3

In [30]:
print(dic['course name'])

ML

In [32]:
print(dic.keys() , dic.values() , sep='\n')

dict_keys(['course name', 'credit hours', 'prequiest', 'Number of students'])
dict_values(['ML', 3, 'Linear Algebra', 200])

In [33]:
dic['level'] = 4

In [34]:
dic

{'course name': 'ML',
 'credit hours': 3,
 'prequiest': 'Linear Algebra',
 'Number of students': 200,
 'level': 4}

In [35]:
dic['Number of students'] = 250

In [36]:
dic

{'course name': 'ML',
 'credit hours': 3,
 'prequiest': 'Linear Algebra',
 'Number of students': 250,
 'level': 4}

In [38]:
print(len(dic))

5

In [39]:
del dic['Number of students']

In [40]:
print(dic)

{'course name': 'ML', 'credit hours': 3, 'prequiest': 'Linear Algebra', 'level': 4}

In [42]:
dic['Number of students'] = 300

In [43]:
dic

{'course name': 'ML',
 'credit hours': 3,
 'prequiest': 'Linear Algebra',
 'level': 4,
 'Number of students': 300}

In [44]:
dic.pop('Number of students')

300

In [45]:
dic

{'course name': 'ML',
 'credit hours': 3,
 'prequiest': 'Linear Algebra',
 'level': 4}

# Arithmetic Operators

In [46]:
2**3

8

# Logical Operators

# IF Statement

In [47]:
y = 401 
if y == 401 :
    print("Machine Learning Course")

Machine Learning Course

In [48]:
y = 402
if y == 401 :
    print("Machine Learning Course")

In [49]:
y = 10
if y > 5  :
    print("y is a Dog")
elif y < 5 :
    print("y is a Cat")

y is a Dog

In [50]:
y = 2
if y > 5  :
    print("y is a Dog")
elif y < 5 :
    print("y is a Cat")

y is a Cat

In [51]:
y = 5
if y > 5  :
    print("y is a Dog")
elif y < 5 :
    print("y is a Cat")
else :
    print("y is a Mouse")

y is a Mouse

# Loops
- for loop 
    - for _ in range(start , end , step) :
        code
        ....
        ....
        
- while loop
     - var that indicate for stating point like i = 0 
       while(condition)  :
            code
            ....
            i+=1

In [59]:
n = 4 
for x in range(n) :
    print(x , end = ' ')

0 1 2 3

In [60]:
for x in range(2,10) :
    print(x , end = ' ')

2 3 4 5 6 7 8 9

In [61]:
for x in range(2,10,2) :
    print(x , end = ' ')

2 4 6 8

In [63]:
n1 = 6 
n2 = 12 
for x in range(n1,n2) :
    print(x , end = ' ')

6 7 8 9 10 11

In [66]:
for _ in lv : 
    print(_ , end = '  -  ')

Machine Learning  -  True  -  250  -  Dr.Mohamed Zidan  -

In [70]:
# in dict the way of loop is difference let's see 
dic

{'course name': 'ML',
 'credit hours': 3,
 'prequiest': 'Linear Algebra',
 'level': 4}

In [71]:
for _ in dic :
    print(_)

course name
credit hours
prequiest
level

In [72]:
for _ in dic.keys() :
    print(_)

course name
credit hours
prequiest
level

In [73]:
for _ in dic.values() :
    print(_)

ML
3
Linear Algebra
4

In [74]:
for _ in dic.items() :
    print(_)

('course name', 'ML')
('credit hours', 3)
('prequiest', 'Linear Algebra')
('level', 4)

In [77]:
for key , value in dic.items() :
    print(f'key : {key} :  value : {value}')
    print('=' * 10)

key : course name :  value : ML
==========
key : credit hours :  value : 3
==========
key : prequiest :  value : Linear Algebra
==========
key : level :  value : 4
==========

In [79]:
students = []
for _ in range(4) :
    di = {}
    name = input('Enter Your Name : ')
    degree = input('Enter Your degree : ')
    di['name'] = name
    di['degree'] = degree
    students.append(di)
print('=' * 30)
students

Enter Your Name : Muaz Osama
Enter Your degree : 100
Enter Your Name : Ahmed Osama
Enter Your degree : 50
Enter Your Name : Ahmed emad
Enter Your degree : 60
Enter Your Name : Eslam Zal
Enter Your degree : 30
==============================

[{'name': 'Muaz Osama', 'degree': '100'},
 {'name': 'Ahmed Osama', 'degree': '50'},
 {'name': 'Ahmed emad', 'degree': '60'},
 {'name': 'Eslam Zal', 'degree': '30'}]

In [80]:
students

[{'name': 'Muaz Osama', 'degree': '100'},
 {'name': 'Ahmed Osama', 'degree': '50'},
 {'name': 'Ahmed emad', 'degree': '60'},
 {'name': 'Eslam Zal', 'degree': '30'}]

In [93]:
for student in students :
    print('{} {}'.format( student['name'], student['degree']))

Muaz Osama 100
Ahmed Osama 50
Ahmed emad 60
Eslam Zal 30

In [94]:
y = 2
while(y < 6) :
    print(y)
    y+=1

2
3
4
5